body {
    background-color: #d4ded5;
    margin: 40px;
    color: #3d405b;
    
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #3d405b;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color:#3d405b;
}
main {
    border: 8px double #81b29a;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    width: 85%;
    background-color: whitesmoke;
    border-radius: 12px;
}

img {
    display: block; 
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    width:85%;
}