body {
    margin: 0 auto;
    background-color: #C9D1CA;
    text-align: center;
}

h1 {
    color: #3d405b;
    font-family: "Georgia", serif;
    font-weight:bold;
    margin: 0;
    text-align: center;
    background-color: #C9D1CA;
    line-height: 3rem;
    font-size: 1.25rem;
    text-decoration: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    margin: 0 auto;
}