body {
    background-color: #d4ded5;
    font-family:Arial, Helvetica, sans-serif;
    color: #3d405b;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
    margin: 40px;
    
}

h1, h2 {
   font-family:Georgia, 'Times New Roman', Times, serif; 
}

main {
    border: 8px double #81b29a;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    width: 85%;
    background-color: whitesmoke;
    border-radius: 12px;
}

a:link {
    color:#e07a5f;
}

a:visited {
 color:#81b29a;  
}

a:hover {
    color:#e16543;
}

ul {
  list-style-type: square;
}