body {
    margin: 50px;
    font-family: "Georgia", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    color: #3d405b;
    background-color: #C9D1CA;
    text-align: center;
}

main {
    padding: 50px;
    border: 6px double #81b29a;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    line-height: 2rem;
}

strong {
    font-weight: 900;
}

i {
    font-style: italic;
}

a:link, a:visited, a:hover, a:active {
    color:#e07a5f;
    font-weight: 700;
}